<!Doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to neon monkey</h1>
    <p>Fetch data from backend:
      <span id='data'></span>
    </p>
    <script>
      fetch('https://nprtvx.github.io/nprtvx/data')
        .then(response => response.json())
        .then(data => document.getElementById('data').textContent = data.message);
    </script>
  </body>
