<!Doctype html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to neon monkey</h1>
    <p>Fetch data from backend:
      <span id='data'></span>
    </p>
    <script>
      fetch('https://nprtvx.github.io/nprtvx/api/data')
        .then(response => {
          if (!response.ok) {
            throw new Error('Network response was not ok');
          }
          response.json();
        })
        .then(data => {
          try {
            document.getElementById('data').textContent = data.message;
            const data = JSON.parse(text); // Try to parse it as JSON
            console.log(data);
          } catch (error) {
            console.error('Error parsing JSON:', error, text);
          }
        })
        .catch(error => {
          console.error('Fetch error:', error);
        });
    </script>
  </body>
